(
	name: "zugzwang-dreieck-2",
	saved_at: (
		secs_since_epoch: 1716999714,
		nanos_since_epoch: 353469800,
	),
	shape: RegularPolygon2D(6),
	resolution: 61,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: -0.18548387,
				y: -0.013968164,
				z: 0.5,
			)),
			past_vertices: [2624],
			nearest_vertex: 2624,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.4354836,
				y: 0.2514269,
				z: 0.5,
			)),
			past_vertices: [8671],
			nearest_vertex: 8671,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: 0.14516127,
				y: -0.25142673,
				z: 0.5,
			)),
			past_vertices: [390],
			nearest_vertex: 390,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.1451613,
				y: 0.25142673,
				z: 0.5,
			)),
			past_vertices: [24],
			nearest_vertex: 24,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.16129042,
				y: -0.25142667,
				z: 0.5,
			)),
			past_vertices: [268, 2739],
			nearest_vertex: 2739,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(9),
			pos: OnVertex((
				x: -0.43548393,
				y: -0.2514267,
				z: 0.5,
			)),
			past_vertices: [3181],
			nearest_vertex: 3181,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: -0.41935486,
				y: -0.2234904,
				z: 0.5,
			)),
			past_vertices: [3112],
			nearest_vertex: 3112,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.29032257,
				y: -0.000000025380805,
				z: 0.5,
			)),
			past_vertices: [146],
			nearest_vertex: 146,
			on_node: true,
			enabled: true,
			updated: true,
		)],
		past_moves: [(4, 2739)],
		future_moves: [],
		show_past_steps: true,
		show_allowed_next_steps: true,
),
	manual_markers: [(2599, 0), (2, 64), (6, 0), (3, 64), (6, 0), (4, 64), (6, 0), (5, 64), (6, 0), (6, 64), (6, 0), (7, 64), (6, 0), (8, 64), (6, 0), (9, 64), (6, 0), (10, 64), (6, 0), (11, 64), (6, 0), (12, 64), (6, 0), (1, 64), (12, 32), (7, 0), (1, 32), (10, 0), (1, 32), (9, 0), (1, 32), (9, 0), (1, 32), (11, 0), (1, 32), (8, 0), (1, 32), (13, 0), (1, 32), (7, 0), (1, 32), (15, 0), (1, 32), (6, 0), (1, 32), (17, 0), (1, 32), (5, 0), (1, 32), (19, 0), (1, 32), (4, 0), (1, 32), (21, 0), (1, 32), (3, 0), (1, 32), (23, 0), (1, 32), (2, 0), (1, 32), (25, 0), (1, 32), (1, 0), (1, 32), (27, 0), (2, 32), (29, 0), (1, 32), (8670, 0)],
)