(
	name: "screenshot-ShadowNonUnique",
	saved_at: (
		secs_since_epoch: 1726391107,
		nanos_since_epoch: 823721000,
	),
	shape: RegularPolygon2D(6),
	resolution: 78,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: 0.20731707,
				y: -0.105612814,
				z: 0.5,
			)),
			past_vertices: [10152],
			nearest_vertex: 10152,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.15822807,
				y: -0.7783265,
				z: 0.5,
			)),
			past_vertices: [8445, 8741, 9116, 9386, 9317, 9456, 9386],
			nearest_vertex: 9386,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: -0.05696222,
				y: -0.7564019,
				z: 0.5,
			)),
			past_vertices: [8930, 9395, 9256],
			nearest_vertex: 9256,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: 0.0443037,
				y: -0.4056068,
				z: 0.5,
			)),
			past_vertices: [8633, 7927, 7509, 7600],
			nearest_vertex: 7600,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: 0.17721516,
				y: -0.4165692,
				z: 0.5,
			)),
			past_vertices: [7435, 7647],
			nearest_vertex: 7647,
			on_node: true,
			enabled: true,
			updated: true,
		)],
		past_moves: [(1, 8741), (2, 9395), (1, 9116), (3, 7927), (3, 7509), (1, 9386), (3, 7600), (4, 7647), (1, 9317), (1, 9456), (1, 9386), (2, 9256)],
		future_moves: [],
		show_past_steps: false,
		show_allowed_next_steps: true,
),
	manual_markers: [(7564, 4), (2, 0), (33, 4), (13, 0), (24, 4), (13, 0), (24, 4), (13, 0), (25, 4), (12, 0), (27, 4), (12, 0), (28, 4), (12, 0), (29, 4), (12, 0), (30, 4), (12, 0), (31, 4), (12, 0), (32, 4), (12, 0), (33, 4), (12, 0), (34, 4), (12, 0), (35, 4), (12, 0), (36, 4), (12, 0), (37, 4), (12, 0), (38, 4), (10, 0), (41, 4), (10, 0), (42, 4), (10, 0), (43, 4), (10, 0), (44, 4), (10, 0), (45, 4), (10, 0), (46, 4), (10, 0), (47, 4), (10, 0), (48, 4), (10, 0), (49, 4), (10, 0), (50, 4), (10, 0), (51, 4), (10, 0), (52, 4), (10, 0), (53, 4), (10, 0), (54, 4), (3, 0), (1, 64), (6, 0), (55, 4), (3, 0), (2, 64), (5, 0), (56, 4), (3, 0), (3, 64), (4, 0), (57, 4), (3, 0), (4, 64), (3, 0), (58, 4), (3, 0), (5, 64), (2, 0), (59, 4), (3, 0), (6, 64), (1, 0), (61, 4), (2, 0), (7, 2), (9496, 4)],
)