(
	name: "screenshot-ShadowUnique",
	saved_at: (
		secs_since_epoch: 1726391016,
		nanos_since_epoch: 331251200,
	),
	shape: RegularPolygon2D(6),
	resolution: 78,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: 0.20731707,
				y: -0.105612814,
				z: 0.5,
			)),
			past_vertices: [10152],
			nearest_vertex: 10152,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.15822804,
				y: -0.73447716,
				z: 0.5,
			)),
			past_vertices: [8445, 8741, 9116, 9386, 9317, 9456, 9386, 9181, 9114],
			nearest_vertex: 9114,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: -0.05696222,
				y: -0.7783266,
				z: 0.5,
			)),
			past_vertices: [8930, 9395, 9256, 9394],
			nearest_vertex: 9394,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: 0.025316373,
				y: -0.39464447,
				z: 0.5,
			)),
			past_vertices: [8633, 7927, 7509, 7600, 7599, 7563],
			nearest_vertex: 7563,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: 0.16455692,
				y: -0.4165692,
				z: 0.5,
			)),
			past_vertices: [7435, 7647, 7646],
			nearest_vertex: 7646,
			on_node: true,
			enabled: true,
			updated: true,
		)],
		past_moves: [(1, 8741), (2, 9395), (1, 9116), (3, 7927), (3, 7509), (1, 9386), (3, 7600), (4, 7647), (1, 9317), (1, 9456), (1, 9386), (2, 9256), (1, 9181), (2, 9394), (1, 9114), (3, 7599), (4, 7646), (3, 7563)],
		future_moves: [],
		show_past_steps: false,
		show_allowed_next_steps: true,
),
	manual_markers: [(7528, 4), (2, 0), (32, 4), (12, 0), (24, 4), (13, 0), (23, 4), (14, 0), (23, 4), (14, 0), (24, 4), (13, 0), (26, 4), (13, 0), (27, 4), (13, 0), (28, 4), (13, 0), (29, 4), (13, 0), (30, 4), (13, 0), (31, 4), (13, 0), (32, 4), (13, 0), (33, 4), (13, 0), (34, 4), (13, 0), (35, 4), (13, 0), (36, 4), (13, 0), (37, 4), (13, 0), (38, 4), (13, 0), (39, 4), (13, 0), (40, 4), (13, 0), (41, 4), (13, 0), (42, 4), (13, 0), (43, 4), (13, 0), (44, 4), (13, 0), (45, 4), (13, 0), (46, 4), (13, 0), (47, 4), (13, 0), (48, 4), (13, 0), (49, 4), (13, 0), (50, 4), (3, 0), (3, 64), (7, 0), (51, 4), (3, 0), (4, 64), (6, 0), (52, 4), (3, 0), (5, 64), (5, 0), (54, 4), (2, 0), (6, 64), (4, 0), (56, 4), (1, 2), (7, 64), (3, 0), (58, 4), (1, 2), (6, 64), (3, 0), (60, 4), (1, 2), (5, 64), (3, 0), (62, 4), (6, 2), (2, 0), (9495, 4)],
)