(
	name: "sprung Dilemma Gelb oben",
	saved_at: (
		secs_since_epoch: 1717242112,
		nanos_since_epoch: 209578000,
	),
	shape: RegularPolygon2D(6),
	resolution: 40,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: 0.20731707,
				y: -0.105612814,
				z: 0.5,
			)),
			past_vertices: [3701, 3687, 3674, 3662, 337, 2881, 2880, 2879, 2878, 2877],
			nearest_vertex: 2877,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: -0.4512196,
				y: -0.4013288,
				z: 0.5,
			)),
			past_vertices: [1607, 1633, 1634, 1635, 1636],
			nearest_vertex: 1636,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.18292698,
				y: -0.61255443,
				z: 0.5,
			)),
			past_vertices: [2431],
			nearest_vertex: 2431,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.5121951,
				y: -0.42245138,
				z: 0.5,
			)),
			past_vertices: [266, 3272],
			nearest_vertex: 3272,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: 0.17073163,
				y: -0.71816736,
				z: 0.5,
			)),
			past_vertices: [1288, 2212, 2445, 2668, 2779, 2448, 2476, 2505, 2535, 2566, 2598],
			nearest_vertex: 2598,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.37804878,
				y: 0.35908368,
				z: 0.5,
			)),
			past_vertices: [958, 746],
			nearest_vertex: 746,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: 0.41463393,
				y: 0.21122587,
				z: 0.5,
			)),
			past_vertices: [4665, 3848, 3826],
			nearest_vertex: 3826,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(6),
			pos: OnVertex((
				x: -0.54878044,
				y: 0.063367695,
				z: 0.5,
			)),
			past_vertices: [759, 760],
			nearest_vertex: 760,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(7),
			pos: OnVertex((
				x: 0.597561,
				y: -0.27459332,
				z: 0.5,
			)),
			past_vertices: [3279],
			nearest_vertex: 3279,
			on_node: true,
			enabled: true,
			updated: true,
		)],
		past_moves: [(6, 3848), (5, 746), (3, 3272), (4, 2212), (4, 2445), (1, 1633), (0, 3687), (6, 3826), (1, 1634), (0, 3674), (1, 1635), (0, 3662), (1, 1636), (0, 337), (7, 760), (4, 2668), (4, 2779), (4, 2448), (0, 2881), (4, 2476), (0, 2880), (4, 2505), (0, 2879), (4, 2535), (0, 2878), (4, 2566), (0, 2877), (4, 2598)],
		future_moves: [],
		show_past_steps: false,
		show_allowed_next_steps: true,
),
	manual_markers: [(5167, 0)],
)