(
	name: "zugzwang-schräg",
	saved_at: (
		secs_since_epoch: 1716914530,
		nanos_since_epoch: 71817200,
	),
	shape: RegularPolygon2D(6),
	resolution: 34,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: -0.22857143,
				y: -0.000000019982348,
				z: 0.5,
			)),
			past_vertices: [82],
			nearest_vertex: 82,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: 0.085714266,
				y: -0.24743584,
				z: 0.5,
			)),
			past_vertices: [1580],
			nearest_vertex: 1580,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.1451613,
				y: 0.25142673,
				z: 0.5,
			)),
			past_vertices: [16],
			nearest_vertex: 16,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.21428584,
				y: -0.37115365,
				z: 0.5,
			)),
			past_vertices: [157],
			nearest_vertex: 157,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.2857143,
				y: -0.000000024977936,
				z: 0.5,
			)),
			past_vertices: [84],
			nearest_vertex: 84,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.22857143,
				y: 0.000000039964696,
				z: 0.5,
			)),
			past_vertices: [286],
			nearest_vertex: 286,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: 0.14516105,
				y: 0.25142688,
				z: 0.5,
			)),
			past_vertices: [356],
			nearest_vertex: 356,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(6),
			pos: OnVertex((
				x: -0.21774194,
				y: 0.12571336,
				z: 0.5,
			)),
			past_vertices: [455],
			nearest_vertex: 455,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(8),
			pos: OnVertex((
				x: 0.2177418,
				y: 0.12571345,
				z: 0.5,
			)),
			past_vertices: [2699],
			nearest_vertex: 2699,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(9),
			pos: OnVertex((
				x: -0.00000013411045,
				y: 0.25142682,
				z: 0.5,
			)),
			past_vertices: [3260],
			nearest_vertex: 3260,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(7),
			pos: OnVertex((
				x: 0.14285713,
				y: -0.1484615,
				z: 0.5,
			)),
			past_vertices: [2120],
			nearest_vertex: 2120,
			on_node: true,
			enabled: true,
			updated: true,
		)],
		past_moves: [],
		future_moves: [(4, 1071), (0, 1001), (4, 1057), (0, 1000), (1, 1589), (0, 999), (4, 1044), (0, 998), (4, 1032), (0, 997), (4, 1021)],
		show_past_steps: true,
		show_allowed_next_steps: true,
	),
	manual_markers: [(75, 0), (8, 2), (60, 0), (2, 2), (1, 64), (1, 0), (1, 32), (8, 0), (1, 32), (819, 0), (4, 64), (2, 0), (1, 64), (3, 0), (1, 64), (3, 0), (1, 32), (1, 64), (3, 0), (1, 32), (1, 0), (1, 64), (4, 0), (1, 32), (1, 0), (1, 64), (5, 0), (1, 32), (8, 0), (1, 32), (9, 0), (1, 32), (10, 0), (1, 32), (11, 0), (1, 32), (12, 0), (2, 32), (471, 0), (1, 2), (1, 0), (1, 64), (1, 2), (1, 0), (2, 32), (1, 2), (2, 0), (1, 32), (1, 64), (1, 2), (2, 0), (1, 32), (1, 0), (1, 64), (1, 2), (2, 0), (1, 32), (2, 0), (1, 64), (1, 2), (2, 0), (1, 32), (3, 0), (1, 64), (3, 0), (1, 32), (8, 0), (1, 32), (9, 0), (1, 32), (10, 0), (1, 32), (10, 0), (2, 32), (2164, 0)],
)