(
	name: "24 cops",
	saved_at: (
		secs_since_epoch: 1718218709,
		nanos_since_epoch: 632694700,
	),
	shape: RegularPolygon2D(6),
	resolution: 32,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: -0.10606086,
				y: 0.6035935,
				z: 0.5,
			)),
			past_vertices: [3116],
			nearest_vertex: 3116,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.42424268,
				y: -0.7348093,
				z: 0.5,
			)),
			past_vertices: [162],
			nearest_vertex: 162,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: -0.8484849,
				y: -0.0000000741769,
				z: 0.5,
			)),
			past_vertices: [98],
			nearest_vertex: 98,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(7),
			pos: OnVertex((
				x: 0.42424235,
				y: -0.73480946,
				z: 0.5,
			)),
			past_vertices: [226],
			nearest_vertex: 226,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(8),
			pos: OnVertex((
				x: -0.6363638,
				y: -0.36740467,
				z: 0.5,
			)),
			past_vertices: [1251],
			nearest_vertex: 1251,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(9),
			pos: OnVertex((
				x: 0.8484849,
				y: 0.0000001483538,
				z: 0.5,
			)),
			past_vertices: [290],
			nearest_vertex: 290,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(10),
			pos: OnVertex((
				x: 0.42424172,
				y: 0.7348098,
				z: 0.5,
			)),
			past_vertices: [354],
			nearest_vertex: 354,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.42424247,
				y: 0.7348094,
				z: 0.5,
			)),
			past_vertices: [34],
			nearest_vertex: 34,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.42424247,
				y: 0.7348094,
				z: 0.5,
			)),
			past_vertices: [34],
			nearest_vertex: 34,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: -0.8484849,
				y: -0.0000000741769,
				z: 0.5,
			)),
			past_vertices: [98],
			nearest_vertex: 98,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.42424268,
				y: -0.7348093,
				z: 0.5,
			)),
			past_vertices: [162],
			nearest_vertex: 162,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(7),
			pos: OnVertex((
				x: 0.42424235,
				y: -0.73480946,
				z: 0.5,
			)),
			past_vertices: [226],
			nearest_vertex: 226,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(9),
			pos: OnVertex((
				x: 0.8484849,
				y: 0.0000001483538,
				z: 0.5,
			)),
			past_vertices: [290],
			nearest_vertex: 290,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(10),
			pos: OnVertex((
				x: 0.42424172,
				y: 0.7348098,
				z: 0.5,
			)),
			past_vertices: [354],
			nearest_vertex: 354,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: -0.0000004172325,
				y: 0.73480964,
				z: 0.5,
			)),
			past_vertices: [3235],
			nearest_vertex: 3235,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.6363636,
				y: 0.36740467,
				z: 0.5,
			)),
			past_vertices: [755],
			nearest_vertex: 755,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: 0.63636327,
				y: 0.36740497,
				z: 0.5,
			)),
			past_vertices: [2739],
			nearest_vertex: 2739,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: -0.0000004172325,
				y: 0.73480964,
				z: 0.5,
			)),
			past_vertices: [3235],
			nearest_vertex: 3235,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.6363636,
				y: 0.36740467,
				z: 0.5,
			)),
			past_vertices: [755],
			nearest_vertex: 755,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: 0.63636327,
				y: 0.36740497,
				z: 0.5,
			)),
			past_vertices: [2739],
			nearest_vertex: 2739,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(8),
			pos: OnVertex((
				x: -0.6363638,
				y: -0.36740467,
				z: 0.5,
			)),
			past_vertices: [1251],
			nearest_vertex: 1251,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.00000014901161,
				y: -0.7348094,
				z: 0.5,
			)),
			past_vertices: [1747],
			nearest_vertex: 1747,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.6363636,
				y: -0.36740464,
				z: 0.5,
			)),
			past_vertices: [2243],
			nearest_vertex: 2243,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.00000014901161,
				y: -0.7348094,
				z: 0.5,
			)),
			past_vertices: [1747],
			nearest_vertex: 1747,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.6363636,
				y: -0.36740464,
				z: 0.5,
			)),
			past_vertices: [2243],
			nearest_vertex: 2243,
			on_node: true,
			enabled: true,
			updated: true,
		)],
		past_moves: [],
		future_moves: [(17, 3221), (0, 633), (17, 3220), (0, 632), (17, 3219), (0, 631), (17, 3218), (0, 630), (17, 3217), (0, 629), (8, 748), (0, 628), (8, 747), (0, 627), (8, 746), (0, 626), (8, 745), (0, 625), (8, 744), (0, 624), (8, 743), (0, 623), (8, 742), (0, 622), (17, 3216), (0, 29), (14, 3209), (0, 3123), (17, 3242), (0, 3122), (17, 3241), (0, 3121), (17, 3240), (0, 3120), (17, 3239), (0, 3119), (17, 3238), (0, 3118), (17, 3237), (0, 3117), (17, 3236)],
		show_past_steps: true,
		show_allowed_next_steps: true,
	),
	manual_markers: [(3367, 0)],
)