(
	name: "standard positionen polizei 3",
	saved_at: (
		secs_since_epoch: 1731371643,
		nanos_since_epoch: 196549100,
	),
	shape: TriangGrid,
	resolution: 186,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: 0.21791445,
				y: -0.13198781,
				z: 0.5,
			)),
			past_vertices: [18880, 18316, 22385],
			nearest_vertex: 22385,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: 0.044117674,
				y: -0.02547133,
				z: 0.5,
			)),
			past_vertices: [18884, 18316, 18502],
			nearest_vertex: 18502,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.020053476,
				y: 0.0023155808,
				z: 0.5,
			)),
			past_vertices: [17767, 16649, 16834],
			nearest_vertex: 16834,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.0868984,
				y: -0.0069467127,
				z: 0.5,
			)),
			past_vertices: [18133, 19057, 19805, 20179, 20366],
			nearest_vertex: 20366,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.0013369024,
				y: 0.034733653,
				z: 0.5,
			)),
			past_vertices: [18877, 18326, 17767, 18143],
			nearest_vertex: 18143,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: 0.04411766,
				y: 0.030102491,
				z: 0.5,
			)),
			past_vertices: [19253, 19439, 16644, 16643, 19257, 19630],
			nearest_vertex: 19630,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(8),
			pos: OnVertex((
				x: 0.060160458,
				y: 0.011577874,
				z: 0.5,
			)),
			past_vertices: [19624, 19809, 20181, 19809, 19812],
			nearest_vertex: 19812,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(6),
			pos: OnVertex((
				x: 0.092245996,
				y: 0.020840198,
				z: 0.5,
			)),
			past_vertices: [20744, 21116],
			nearest_vertex: 21116,
			enabled: true,
			on_node: true,
			updated: true,
		)],
		past_moves: [(0, 18316), (0, 22385), (5, 19439), (4, 18326), (1, 18316), (5, 16644), (2, 16649), (3, 19057), (6, 19809), (7, 21116), (1, 18502), (4, 17767), (2, 16834), (5, 16643), (5, 19257), (4, 18143), (3, 19805), (5, 19630), (6, 20181), (6, 19809), (3, 20179), (3, 20366), (6, 19812)],
		future_moves: [],
		show_past_steps: false,
		show_allowed_next_steps: false,
),
	manual_markers: [(34596, 0)],
)