(
	name: "12-cops-2-linien",
	saved_at: (
		secs_since_epoch: 1729771320,
		nanos_since_epoch: 603465500,
	),
	shape: TriangGrid,
	resolution: 140,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: -0.034722224,
				y: -0.036084384,
				z: 0.5,
			)),
			past_vertices: [8885],
			nearest_vertex: 8885,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.111702144,
				y: -0.16890568,
				z: 0.5,
			)),
			past_vertices: [5783],
			nearest_vertex: 5783,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: -0.033687957,
				y: -0.30403018,
				z: 0.5,
			)),
			past_vertices: [5761],
			nearest_vertex: 5761,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: 0.044326216,
				y: -0.16890568,
				z: 0.5,
			)),
			past_vertices: [8863],
			nearest_vertex: 8863,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(7),
			pos: OnVertex((
				x: 0.20035458,
				y: -0.16890568,
				z: 0.5,
			)),
			past_vertices: [11943],
			nearest_vertex: 11943,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.122340396,
				y: -0.03378114,
				z: 0.5,
			)),
			past_vertices: [11965],
			nearest_vertex: 11965,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(8),
			pos: OnVertex((
				x: 0.2003546,
				y: 0.10134336,
				z: 0.5,
			)),
			past_vertices: [15067],
			nearest_vertex: 15067,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: 0.044326216,
				y: 0.10134336,
				z: 0.5,
			)),
			past_vertices: [11987],
			nearest_vertex: 11987,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(9),
			pos: OnVertex((
				x: -0.03368795,
				y: 0.23646793,
				z: 0.5,
			)),
			past_vertices: [12009],
			nearest_vertex: 12009,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.111702144,
				y: 0.10134336,
				z: 0.5,
			)),
			past_vertices: [8907],
			nearest_vertex: 8907,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(6),
			pos: OnVertex((
				x: -0.2677305,
				y: 0.10134336,
				z: 0.5,
			)),
			past_vertices: [5827],
			nearest_vertex: 5827,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.18971632,
				y: -0.03378114,
				z: 0.5,
			)),
			past_vertices: [5805],
			nearest_vertex: 5805,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(10),
			pos: OnVertex((
				x: -0.2677305,
				y: -0.16890568,
				z: 0.5,
			)),
			past_vertices: [2703],
			nearest_vertex: 2703,
			enabled: true,
			on_node: true,
			updated: true,
		)],
		past_moves: [],
		future_moves: [],
		show_past_steps: true,
		show_allowed_next_steps: true,
),
	manual_markers: [(19600, 0)],
)