(
	name: "zugzwang-schräg",
	saved_at: (
		secs_since_epoch: 1729770923,
		nanos_since_epoch: 567071400,
	),
	shape: TriangGrid,
	resolution: 33,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: -0.22857143,
				y: -0.000000019982348,
				z: 0.5,
			)),
			past_vertices: [314],
			nearest_vertex: 314,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: 0.085714266,
				y: -0.24743584,
				z: 0.5,
			)),
			past_vertices: [502],
			nearest_vertex: 502,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.1451613,
				y: 0.25142673,
				z: 0.5,
			)),
			past_vertices: [588],
			nearest_vertex: 588,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.21428584,
				y: -0.37115365,
				z: 0.5,
			)),
			past_vertices: [68],
			nearest_vertex: 68,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.2857143,
				y: -0.000000024977936,
				z: 0.5,
			)),
			past_vertices: [248],
			nearest_vertex: 248,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.22857143,
				y: 0.000000039964696,
				z: 0.5,
			)),
			past_vertices: [842],
			nearest_vertex: 842,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: 0.14516105,
				y: 0.25142688,
				z: 0.5,
			)),
			past_vertices: [918],
			nearest_vertex: 918,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(6),
			pos: OnVertex((
				x: -0.21774194,
				y: 0.12571336,
				z: 0.5,
			)),
			past_vertices: [418],
			nearest_vertex: 418,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(8),
			pos: OnVertex((
				x: 0.2177418,
				y: 0.12571345,
				z: 0.5,
			)),
			past_vertices: [913],
			nearest_vertex: 913,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(9),
			pos: OnVertex((
				x: -0.00000013411045,
				y: 0.25142682,
				z: 0.5,
			)),
			past_vertices: [753],
			nearest_vertex: 753,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(7),
			pos: OnVertex((
				x: 0.14285713,
				y: -0.1484615,
				z: 0.5,
			)),
			past_vertices: [638],
			nearest_vertex: 638,
			enabled: true,
			on_node: true,
			updated: true,
		)],
		past_moves: [],
		future_moves: [],
		show_past_steps: true,
		show_allowed_next_steps: true,
),
	manual_markers: [(102, 0), (3, 32), (30, 0), (1, 32), (2, 0), (1, 32), (29, 0), (1, 32), (3, 0), (1, 32), (29, 0), (1, 32), (3, 0), (1, 32), (29, 0), (1, 32), (3, 0), (1, 32), (29, 0), (1, 32), (3, 0), (1, 32), (5, 0), (1, 64), (23, 0), (1, 32), (3, 0), (1, 32), (4, 0), (1, 64), (24, 0), (1, 32), (3, 0), (1, 32), (3, 0), (1, 64), (25, 0), (1, 32), (2, 0), (1, 32), (3, 0), (1, 64), (26, 0), (1, 32), (1, 0), (1, 32), (3, 0), (1, 64), (27, 0), (2, 32), (3, 0), (1, 64), (24, 0), (9, 64), (32, 0), (1, 64), (577, 0)],
)