(
	name: "zugzwang-schräg-2",
	saved_at: (
		secs_since_epoch: 1729771017,
		nanos_since_epoch: 582952400,
	),
	shape: TriangGrid,
	resolution: 34,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: 0.05714285,
				y: -0.049487166,
				z: 0.5,
			)),
			past_vertices: [627],
			nearest_vertex: 627,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: 0.15714285,
				y: -0.17320509,
				z: 0.5,
			)),
			past_vertices: [656],
			nearest_vertex: 656,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.1451613,
				y: 0.25142673,
				z: 0.5,
			)),
			past_vertices: [640],
			nearest_vertex: 640,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.21428584,
				y: -0.37115365,
				z: 0.5,
			)),
			past_vertices: [70],
			nearest_vertex: 70,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.3,
				y: -0.024743604,
				z: 0.5,
			)),
			past_vertices: [220],
			nearest_vertex: 220,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.27142856,
				y: 0.02474364,
				z: 0.5,
			)),
			past_vertices: [971],
			nearest_vertex: 971,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: 0.14516105,
				y: 0.25142688,
				z: 0.5,
			)),
			past_vertices: [980],
			nearest_vertex: 980,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(6),
			pos: OnVertex((
				x: -0.21774194,
				y: 0.12571336,
				z: 0.5,
			)),
			past_vertices: [430],
			nearest_vertex: 430,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(8),
			pos: OnVertex((
				x: 0.2177418,
				y: 0.12571345,
				z: 0.5,
			)),
			past_vertices: [975],
			nearest_vertex: 975,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(9),
			pos: OnVertex((
				x: -0.00000013411045,
				y: 0.25142682,
				z: 0.5,
			)),
			past_vertices: [810],
			nearest_vertex: 810,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(7),
			pos: OnVertex((
				x: 0.21428572,
				y: -0.07423073,
				z: 0.5,
			)),
			past_vertices: [831],
			nearest_vertex: 831,
			enabled: true,
			on_node: true,
			updated: true,
		)],
		past_moves: [],
		future_moves: [],
		show_past_steps: true,
		show_allowed_next_steps: true,
),
	manual_markers: [(105, 0), (6, 32), (28, 0), (1, 32), (5, 0), (1, 32), (28, 0), (1, 32), (5, 0), (1, 32), (28, 0), (1, 32), (5, 0), (1, 32), (28, 0), (1, 32), (5, 0), (1, 32), (2, 0), (1, 64), (25, 0), (1, 32), (5, 0), (1, 32), (1, 0), (2, 64), (25, 0), (1, 32), (5, 0), (1, 32), (3, 64), (25, 0), (1, 32), (5, 0), (1, 32), (3, 64), (25, 0), (1, 32), (4, 0), (1, 32), (3, 64), (26, 0), (1, 32), (3, 0), (1, 32), (3, 64), (27, 0), (4, 32), (3, 64), (31, 0), (3, 64), (31, 0), (3, 64), (31, 0), (3, 64), (31, 0), (3, 64), (559, 0)],
)