(
	name: "bruteforce-oct-13",
	saved_at: (
		secs_since_epoch: 1742250217,
		nanos_since_epoch: 759459970,
	),
	shape: Octahedron,
	resolution: 13,
	characters: (
		characters: [(
			id: Robber,
			pos: OnScreen((
				x: 1.9191757,
				y: 0.29598,
			)),
			past_vertices: [],
			nearest_vertex: 17,
			enabled: true,
			on_node: false,
), (
			id: Cop(0),
			pos: OnVertex((
				x: -0.3571428,
				y: 0.42857146,
				z: 0.21428573,
			)),
			past_vertices: [215, 671, 663],
			nearest_vertex: 663,
			enabled: true,
			on_node: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: 0.4285714,
				y: -0.35714287,
				z: 0.21428573,
			)),
			past_vertices: [341, 343],
			nearest_vertex: 343,
			enabled: true,
			on_node: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.4285714,
				y: -0.35714287,
				z: 0.21428573,
			)),
			past_vertices: [582, 575],
			nearest_vertex: 575,
			enabled: true,
			on_node: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.3571428,
				y: 0.42857146,
				z: 0.21428573,
			)),
			past_vertices: [99, 194, 193, 185, 192],
			nearest_vertex: 192,
			enabled: true,
			on_node: true,
		)],
		past_moves: [(3, 575), (1, 671), (1, 663), (4, 194), (2, 343), (4, 193), (4, 185), (4, 192)],
		future_moves: [],
		show_past_steps: false,
		show_allowed_next_steps: false,
),
	manual_markers: [(4, 32), (2, 0), (62, 32), (3, 0), (10, 32), (3, 0), (9, 32), (4, 0), (11, 32), (15, 0), (1, 32), (12, 0), (2, 32), (11, 0), (1, 32), (12, 0), (22, 32), (2, 0), (5, 32), (3, 0), (6, 32), (2, 0), (12, 32), (3, 0), (7, 32), (4, 0), (8, 32), (82, 0), (18, 32), (2, 0), (4, 32), (3, 0), (5, 32), (2, 0), (11, 32), (1, 0), (9, 32), (2, 0), (9, 32), (2, 0), (11, 32), (1, 0), (1, 32), (1, 0), (2, 32), (3, 0), (1, 32), (4, 0), (1, 32), (5, 0), (1, 32), (5, 0), (2, 32), (7, 0), (1, 32), (8, 0), (1, 32), (8, 0), (2, 32), (10, 0), (1, 32), (11, 0), (1, 32), (1, 0), (1, 32), (43, 0), (1, 32), (9, 0), (1, 32), (10, 0), (1, 32), (11, 0), (16, 32), (2, 0), (4, 32), (3, 0), (5, 32), (2, 0), (22, 32), (1, 0), (9, 32), (2, 0), (10, 32), (2, 0), (25, 32), (2, 0), (5, 32), (3, 0), (6, 32), (2, 0), (2, 32), (3, 0), (7, 32), (4, 0), (7, 32), (4, 0), (8, 32), (20, 0), (1, 32), (6, 0), (1, 32), (7, 0), (1, 32), (8, 0), (1, 32), (9, 0), (1, 32), (10, 0), (1, 32), (11, 0), (1, 32)],
)