(
	name: "standardpositionen polizei",
	saved_at: (
		secs_since_epoch: 1731326584,
		nanos_since_epoch: 706798600,
	),
	shape: TriangTorus,
	resolution: 186,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: 0.21791445,
				y: -0.13198781,
				z: 0.5,
			)),
			past_vertices: [18880, 18316, 22385],
			nearest_vertex: 22385,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: 0.02807486,
				y: 0.020840198,
				z: 0.5,
			)),
			past_vertices: [18884],
			nearest_vertex: 18884,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.0013368726,
				y: 0.016209036,
				z: 0.5,
			)),
			past_vertices: [17767],
			nearest_vertex: 17767,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.025401056,
				y: -0.011577874,
				z: 0.5,
			)),
			past_vertices: [18133],
			nearest_vertex: 18133,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: 0.046791434,
				y: -0.011577874,
				z: 0.5,
			)),
			past_vertices: [18877],
			nearest_vertex: 18877,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: 0.052139014,
				y: 0.0069467425,
				z: 0.5,
			)),
			past_vertices: [19253, 19439],
			nearest_vertex: 19439,
			enabled: true,
			on_node: true,
			updated: true,
		)],
		past_moves: [(0, 18316), (0, 22385), (5, 19439)],
		future_moves: [],
		show_past_steps: false,
		show_allowed_next_steps: false,
),
	manual_markers: [(34596, 0)],
)