(
	name: "viereck 4 cops",
	saved_at: (
		secs_since_epoch: 1717663057,
		nanos_since_epoch: 123309400,
	),
	shape: SquareTorus,
	resolution: 80,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: 0.151515,
				y: 0.15745926,
				z: 0.5,
			)),
			past_vertices: [4399],
			nearest_vertex: 4399,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.2777778,
				y: -0.22839504,
				z: 0.5,
			)),
			past_vertices: [1148, 3302, 1498],
			nearest_vertex: 1498,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: -0.2777778,
				y: 0.22839504,
				z: 0.5,
			)),
			past_vertices: [40, 1511, 1614, 1535],
			nearest_vertex: 1535,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(7),
			pos: OnVertex((
				x: 0.2037037,
				y: -0.22839504,
				z: 0.5,
			)),
			past_vertices: [6662, 4715, 4696],
			nearest_vertex: 4696,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(8),
			pos: OnVertex((
				x: 0.2037037,
				y: 0.22839504,
				z: 0.5,
			)),
			past_vertices: [3361, 3263, 3011, 4733],
			nearest_vertex: 4733,
			on_node: true,
			enabled: true,
			updated: true,
		)],
		past_moves: [(4, 3263), (2, 1511), (1, 3302), (3, 4715), (4, 3011), (1, 1498), (3, 4696), (2, 1614), (2, 1535), (4, 4733)],
		future_moves: [],
		show_past_steps: false,
		show_allowed_next_steps: false,
),
	manual_markers: [(6724, 0)],
)