(
	name: "unordentlich",
	saved_at: (
		secs_since_epoch: 1730815889,
		nanos_since_epoch: 986911700,
	),
	shape: TriangTorus,
	resolution: 250,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: 0.05714285,
				y: -0.049487166,
				z: 0.5,
			)),
			past_vertices: [33361],
			nearest_vertex: 33361,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(6),
			pos: OnVertex((
				x: -0.21812749,
				y: 0.125936,
				z: 0.5,
			)),
			past_vertices: [22412],
			nearest_vertex: 22412,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: -0.10258964,
				y: -0.10868445,
				z: 0.5,
			)),
			past_vertices: [21094],
			nearest_vertex: 21094,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(8),
			pos: OnVertex((
				x: 0.09860563,
				y: 0.07418147,
				z: 0.5,
			)),
			past_vertices: [40397],
			nearest_vertex: 40397,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.0886454,
				y: -0.087982625,
				z: 0.5,
			)),
			past_vertices: [33850],
			nearest_vertex: 33850,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.25796813,
				y: -0.087982625,
				z: 0.5,
			)),
			past_vertices: [12100],
			nearest_vertex: 12100,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(9),
			pos: OnVertex((
				x: -0.08665338,
				y: 0.050029367,
				z: 0.5,
			)),
			past_vertices: [27890],
			nearest_vertex: 27890,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: -0.010956168,
				y: 0.050029367,
				z: 0.5,
			)),
			past_vertices: [32640],
			nearest_vertex: 32640,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(7),
			pos: OnVertex((
				x: 0.012948215,
				y: -0.025877237,
				z: 0.5,
			)),
			past_vertices: [31368],
			nearest_vertex: 31368,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.0129482,
				y: -0.07763174,
				z: 0.5,
			)),
			past_vertices: [27853],
			nearest_vertex: 27853,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: -0.06673306,
				y: -0.032777816,
				z: 0.5,
			)),
			past_vertices: [26116],
			nearest_vertex: 26116,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(10),
			pos: OnVertex((
				x: -0.17231075,
				y: -0.008625716,
				z: 0.5,
			)),
			past_vertices: [20373],
			nearest_vertex: 20373,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.25597608,
				y: 0.06038028,
				z: 0.5,
			)),
			past_vertices: [17643],
			nearest_vertex: 17643,
			enabled: true,
			on_node: true,
			updated: true,
		)],
		past_moves: [],
		future_moves: [],
		show_past_steps: true,
		show_allowed_next_steps: true,
),
	manual_markers: [(62500, 0)],
)