(
	name: "würfel wonky lazy-safe",
	saved_at: (
		secs_since_epoch: 1730924877,
		nanos_since_epoch: 230433400,
	),
	shape: Cube,
	resolution: 30,
	characters: (
		characters: [(
			id: Robber,
			pos: OnVertex((
				x: 0.39110824,
				y: 0.09312099,
				z: 0.57735026,
			)),
			past_vertices: [2683, 2713, 2712, 2742, 2743, 2713, 2714, 2684, 2683, 2682],
			nearest_vertex: 2682,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: 0.50285345,
				y: 0.35385978,
				z: 0.57735026,
			)),
			past_vertices: [2890, 2889],
			nearest_vertex: 2889,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(0),
			pos: OnVertex((
				x: 0.15878278,
				y: -0.26350793,
				z: 0.5,
			)),
			past_vertices: [2358],
			nearest_vertex: 2358,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.05587256,
				y: 0.3166114,
				z: 0.57735026,
			)),
			past_vertices: [2843, 2844, 2874],
			nearest_vertex: 2874,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.27936304,
				y: -0.20486623,
				z: 0.57735026,
			)),
			past_vertices: [2490, 2460],
			nearest_vertex: 2460,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(9),
			pos: OnVertex((
				x: -0.57735026,
				y: -0.2421146,
				z: 0.50285345,
			)),
			past_vertices: [4918, 4919],
			nearest_vertex: 4919,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: -0.5169791,
				y: -0.16851872,
				z: 0.5,
			)),
			past_vertices: [298],
			nearest_vertex: 298,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.46560502,
				y: -0.13036942,
				z: 0.57735026,
			)),
			past_vertices: [2523, 2524, 2525],
			nearest_vertex: 2525,
			enabled: true,
			on_node: true,
			updated: true,
		), (
			id: Cop(6),
			pos: OnVertex((
				x: -0.42835665,
				y: 0.42835665,
				z: 0.57735026,
			)),
			past_vertices: [2943, 2944, 2974],
			nearest_vertex: 2974,
			enabled: true,
			on_node: true,
			updated: true,
		)],
		past_moves: [(8, 2944), (0, 2713), (4, 2460), (0, 2712), (3, 2844), (0, 2742), (1, 2889), (0, 2743), (7, 2524), (0, 2713), (5, 4919), (0, 2714), (8, 2974), (0, 2684), (7, 2525), (0, 2683), (3, 2874), (0, 2682)],
		future_moves: [(0, 2771), (1, 2859), (0, 2741), (8, 3004), (0, 2742), (4, 2430), (0, 2712), (7, 2495)],
		show_past_steps: false,
		show_allowed_next_steps: false,
	),
	manual_markers: [(5768, 0)],
)