(
	name: "8-cops-in-kreis",
	saved_at: (
		secs_since_epoch: 1717517099,
		nanos_since_epoch: 367394100,
	),
	shape: Random2D(1339),
	resolution: 50,
	characters: (
		characters: [(
			id: Robber,
			pos: OnScreen((
				x: -1.228182,
				y: 0.05920106,
			)),
			past_vertices: [],
			nearest_vertex: 155,
			on_node: false,
			enabled: true,
			updated: true,
), (
			id: Cop(0),
			pos: OnVertex((
				x: 0.28319135,
				y: -0.81176245,
				z: 0.5,
			)),
			past_vertices: [2009],
			nearest_vertex: 2009,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(1),
			pos: OnVertex((
				x: -0.33677354,
				y: 0.8370772,
				z: 0.5,
			)),
			past_vertices: [5933],
			nearest_vertex: 5933,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(3),
			pos: OnVertex((
				x: -0.8865858,
				y: -0.26863518,
				z: 0.5,
			)),
			past_vertices: [3329],
			nearest_vertex: 3329,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(4),
			pos: OnVertex((
				x: -0.8472097,
				y: 0.41140714,
				z: 0.5,
			)),
			past_vertices: [6329],
			nearest_vertex: 6329,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(2),
			pos: OnVertex((
				x: -0.45027494,
				y: -0.7727459,
				z: 0.5,
			)),
			past_vertices: [4510],
			nearest_vertex: 4510,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(6),
			pos: OnVertex((
				x: 0.74479455,
				y: -0.37825516,
				z: 0.5,
			)),
			past_vertices: [8630],
			nearest_vertex: 8630,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(5),
			pos: OnVertex((
				x: 0.7824405,
				y: 0.32860866,
				z: 0.5,
			)),
			past_vertices: [3791],
			nearest_vertex: 3791,
			on_node: true,
			enabled: true,
			updated: true,
		), (
			id: Cop(7),
			pos: OnVertex((
				x: 0.35317335,
				y: 0.8119265,
				z: 0.5,
			)),
			past_vertices: [2539],
			nearest_vertex: 2539,
			on_node: true,
			enabled: true,
			updated: true,
		)],
		past_moves: [],
		future_moves: [],
		show_past_steps: false,
		show_allowed_next_steps: true,
),
	manual_markers: [(9036, 0)],
)